::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f15a24; 
}

.contant{
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    flex: wrap;
    margin-top: 50px;
    height: 80vh;
    width: 100%;
}

.frameCont{
  box-shadow: 0 0 10px black;
  border-radius: 10px;
}

.cont__form_image{
    width: 60%;
    height: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px 0 0 20px;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pNombre{
    color: "dark";
    font-weight: bold;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 14px;
}

.pMensaje{
    color: gray;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 14px;
}

.mensajes___chat{
    width: 100%;
    height: 68%;
    padding: 15px;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 5px;
}

.contn__mensajes__chat{
    width: 30%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.form__cont{
    height: 32%;
    padding: 3px;
}

.form__cont textarea{
    height: 70%;
    width: 100%;
    margin: 0;
    border: none;
    background-color: #EEEEEE;
    border-radius: 15px;
    padding: 16px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    outline: none;
}

.cont_form__button{
    margin: 0 !important;
    width: 50%;
    position: relative;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__button{
    height: 100% !important;
    width: 100% !important;
    border: none;
    border-radius: 10px !important;
    background-color: #888 !important;
}

.form__button:hover{
  background-color: #f15a24 !important;
}

.cont__iframe {
    display:block; width:50%; height:100%; border:none;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    .contant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: wrap;
    margin-top: 50px;
    height: 80vh;
    width: 100%;
    }
    .contn__mensajes__chat{
        width: 60%;
        height: 100%;
    }
    .cont__form_image{
        width: 60%;
        height: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 20px 0 0 20px;
        background-image: url('../images/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .cont__iframe {
        display:block; width:100%; height:100%; border:none;
    }
    
}